[FEATURE] Retry fetching auth server metadata from OIDC well-known endpoint

## 🚀 Feature Request

### 📝 Summary

OpenID Connect authorization servers don't expose their metadata on the `/.well-known/oauth-authorization-server` endpoint, but rather on the `/.well-known/openid-configuration` endpoint (as mentioned by [RFC8414, section 3](https://www.rfc-editor.org/rfc/rfc8414.html#section-3)).

Might be nice to have the issuer try both endpoints, before giving up. Otherwise, it will be impossible to add OIDC authorization servers for now.

### 🔄 Alternatives Considered

An alternative to this change, might be to set a custom discovery endpoint in the `authenticationConfig`.

### ✔️ Checklist

- [x] I have searched for existing feature requests before creating this one
- [x] I have provided a clear description of the feature
- [x] I have explained the use cases for this feature
- [x] This feature aligns with the project's goals and scope
